$color-blue: #2A5298;
$color-blue-secondary: #1E3C72;
$color-blue-dark: #1F263E;
$color-blue-light: #2E3755;
$color-body: #F3F6FE;
$color-white: #FFFFFF;
$color-white-secondary: #FAFAFA;
$color-gray: #6E7783;
$color-gray-secondary: #BBBBBB;
$color-gray-light: #DDDDDD;
$color-gray-lighter: #F0F0F0;
$color-green: #0BA360;
$color-green-light: #3CBA92;
$color-red: #EC4141;
$color-red-dark: #EC1818;
$color-yellow: #FB995F;

$regular: 'MuseoSansCyrl-300';
$semi-bold: 'MuseoSansCyrl-500';
$bold: 'MuseoSansCyrl-700';

$sidebar-width: 280px;
$top-line-height: 60px;
$default-radius: 5px;
$default-shadow: 1px 1px 1px rgba(0, 0, 0, .16);
$max-width-dropdown: 250px;
$min-width-dropdown: 180px;
$z-index-dropdown: 50;
$height-tab-header: 40px;
$background-modal: rgba(0, 0, 0, 0.2);

$z-index-alert: 100;
$z-index-modal: 200;
