.gc-sidebar.gc-bg-blue-dark.gc-aside(data-show='true')
    .gc-sidebar__logo
        a.gc-logo.gc-log_secondary(href='#') Globerce
    .gc-sidebar__user.gc-mb-2
        p Administrator
    .gc-sidebar__nav
        .gc-nav
            ul
                li
                    a.gc-nav__title.gc-nav__title_active(href='#')
                        .gc-nav__element.gc-nav__icon
                            i.gc-icon.gc-icon_md.ion-home
                        .gc-nav__element
                            span Home
                li.gc-nav_active
                    .gc-nav__title
                        .gc-nav__element.gc-nav__icon
                            i.gc-icon.gc-icon_md.ion-filing
                        .gc-nav__element
                            span Catalog
                        .gc-nav__control
                            small.gc-icon.gc-icon_md.ion-ios-arrow-down
                    ul
                        li
                            a.gc-nav__title(href='#one')
                                .gc-nav__element.gc-nav__icon
                                    i.gc-icon.gc-icon_md.ion-filing
                                .gc-nav__element
                                    span Catalogs
                        li
                            a.gc-nav__title(href='#two')
                                .gc-nav__element.gc-nav__icon
                                    i.gc-icon.gc-icon_md.ion-document
                                .gc-nav__element
                                    span Files
                        li.gc-nav_active
                            .gc-nav__title
                                .gc-nav__element.gc-nav__icon
                                    i.gc-icon.gc-icon_md.ion-person
                                .gc-nav__element
                                    span Users Users Users Users sa s
                                .gc-nav__control
                                    small.gc-icon.gc-icon_md.ion-ios-arrow-down
                            ul
                                li
                                    a.gc-nav__title(href='#thre')
                                        .gc-nav__element.gc-nav__icon
                                            i.gc-icon.gc-icon_md.ion-filing
                                        .gc-nav__element
                                            span Catalogs
                                li
                                    a.gc-nav__title(href='#for')
                                        .gc-nav__element.gc-nav__icon
                                            i.gc-icon.gc-icon_md.ion-document
                                        .gc-nav__element
                                            span Files
                                li
                                    a.gc-nav__title(href='#five')
                                        .gc-nav__element.gc-nav__icon
                                            i.gc-icon.gc-icon_md.ion-coffee
                                        .gc-nav__element
                                            span Sudden Death Sauce Sauce
                li
                    a.gc-nav__title(href='#six')
                        .gc-nav__element.gc-nav__icon
                            i.gc-icon.gc-icon_md.ion-battery-charging
                        .gc-nav__element
                            span Classification System Configuration
                        .gc-nav__control
                            i.gc-icon.gc-icon_md
                li
                    a.gc-nav__title(href='#seven')
                        .gc-nav__element.gc-nav__icon
                            i.gc-icon.gc-icon_md.ion-pricetag
                        .gc-nav__element
                            span Pricing
