extends pages/base

block title
    title UI navigation
block main
    .container
        .row
            .col-12
                h3.mt-2 Static pages
                ol
                    li
                        a(href='pages/_ui/') UI