.gc-top-line{
    width: 100%;
    height: 60px;
    background-color: $color-white;
    box-shadow: 0 8px 28px hsla(206, 29, 40, .1);
}
.gc-top-line_secondary{
    padding-left: 0;
    margin-bottom: 130px;
}
