.gc-top-line.gc-mb-2.gc-indent
    .container-fluid.gc-inherit-height.gc-ml-0.gc-mr-0
        .row.gc-full-height
            .col-2
                .gc-sidebar__menu-btn.gc-vertical-centering.gc-icon_lg.ion-android-menu
            .col-10.gc-text-right